.wrapper .container .main{
  overflow: auto;
  position: relative;
}
.wrapper .container .main .data-area .table-info tr.question{
    background-color: #d9534f;
    color: #fff;
}
.wrapper .container .main .data-area .default-style{
    display: none;
}
.wrapper .container .main .btn-icon.zhext {
  background: url(../image/zhextu.png);
}
.wrapper .container .main .btn-icon.biaoge {
  background: url(../image/biaoge.png);
}

.wrapper .container .main .btn-icon.sort{
  background: url(../image/paix.png);
}
.wrapper .container .main .btn-icon.map{
  background: url(../image/map.png);
}
.wrapper .container .main .map-show{
  width: 100%;
  height: 510px;
  border: 1px solid #d9534f;
  border-radius: 4px;
  display: none;
}
.wrapper .container .main .broken-show{
  width: 1250px;
  height: 510px;
}
.wrapper .container .main .broken-show.show{
    display: block;
}
.wrapper .container .main .broken-show.hidden{
    display: none;
}
.wrapper .container .main .default-style.hidden{
  display: none;
}
.wrapper .container .main .default-style.show{
  display: block;
}