<div class="page-left">
    <div class="choose">
        <ul>
            <li><a href="/home">我的设备</a><span class="jt-icon"></span></li>
            <li><a href="/strategy/toStrategyPage">我的策略</a> <span class="jt-icon"></span></li>
        </ul>
    </div>
</div>